body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    background: #F8FAFC;
}

.big-cont {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #000000;
}

p {
    color: #4D5562;
}

.top {
    width: 70%;
    text-align: center;
}

.seperator-img {
    margin: 20px 0;
}

.midd-contents img {
    border-radius: 15px;
    scale: 0.90;
}

.box-1, .box-2, .box-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    line-height: 1.8em;
}

.box-2, .box-3 {
    margin-top: 40px;
}


@media (max-width: 1024px) {
    .big-cont {
        width: 80%;
    }

    .top {
        width: 90%;
    }
}

@media (max-width: 412px) {
    .box-1, .box-2, .box-3 {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .top {
        width: 100%;
    }

    .big-cont {
        width: 90%;
    }
}



